/* style.css */
body {
  background-color: #171717;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
.title-section, .description-div {
  margin: 1rem auto;
  width: 80%;
}
.image-div img {
  width: 100%;
}
.video-div iframe {
  width: 100%;
  height: 70vh;
}
.description-div {
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
